<html>
<head>
<body>

  <div class = "ournames padded">
    <div class="text ournames center" id="ournamestext">
      <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <h2> Our team </h2>
          <h3> Marc Debnicki</h3>
          <p>
          Marc is the jacqouille la fripouille of his highness.
          </p>
        </div>
      </div>

  <div class = "contact-bg padded">
    <div class="text contact center" id="contactinfotext">
      <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <h3> Contact Us </h3>
          <p>
          aladeenthegreatleader@hotmail.com
          </p>
        </div>
      </div>

</body>
</head>
</html>
